<!DOCTYPE html>
<html lang="en">

<head>
  <title>Your Vault</title>

  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous" />

  <!-- FontAwesome CSS -->
  <link crossorigin="anonymous" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    referrerpolicy="no-referrer" rel="stylesheet" />

  <!-- Font Family -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Righteous&family=Rakkas&family=Noto+Sans&display=swap"
    rel="stylesheet">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />
  <link rel="stylesheet" href="/styles/navbar.css" />
  <link rel="stylesheet" href="/styles/sidebar.css" />
  <link rel="stylesheet" href="/styles/items.css" />
  <link rel="stylesheet" href="/styles/newitem.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="/scripts/app.js"></script>
  <script src="/scripts/displayItem.js"></script>
  <script src="/scripts/handler.js"></script>
  <script src="/scripts/getCategory.js"></script>
  <script src="/scripts/passwordGenerator.js"></script>
</head>

<body>
  <div id="unlocked-app">
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg" id="nav-bar">
      <div class="container-fluid">
        <img src="resources/logo.png" class="logo">
        <a class="navbar-brand m-auto" id="navbar-brand" href="#">PasswordKeepeR</a>
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
              data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="/resources/avatar.png" width="40" height="40" class="rounded-circle">
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#change-pass">Edit Profile</a>
              <a class="dropdown-item" href="/logout">Log Out</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <!-- NavBar End -->
    <section id="vault-content">

      <!-- SideBar -->
      <nav id="sidebar-container" class="d-md-block col-2">
        <!-- Bootstrap List Group -->
        <ul class="list-group">
          <div class="org-name">
            <h1>
              <%= org_name %>
            </h1>
          </div>
          <li>
            <button class="sidebar-list-button selected" onclick="getAllItems('<%= org_name %>')">
              <span class="fa fa-calendar fa-fw mr-3"></span>
              <span class="name">All Items</span>
            </button>
          </li>
          <!-- Separator with title -->
          <div class="sidebar-section-header">
            <h2>CATEGORIES</h2>
          </div>
          <!-- /END Separator -->
          <li>
            <button class="sidebar-list-button" onclick="getCategory('Work')">
              <span class="fa fa-thin fa-briefcase mr-3"></span>
              <span class="name">Work</span>
            </button>
          </li>
          <li>
            <button class="sidebar-list-button" onclick="getCategory('Entertainment')">
              <span class="fa fa-thin fa-film mr-3"></span>
              <span class="name">Entertainment</span>
            </button>
          </li>
          <li>
            <button class="sidebar-list-button" onclick="getCategory('Social')">
              <span class="fa fa-thin fa-thumbs-up mr-3"></span>
              <span class="name">Social</span>
            </button>
          </li>
          <li>
            <button class="sidebar-list-button" onclick="getCategory('Banks')">
              <span class="fa fa-thin fa-building-columns mr-3"></span>
              <span class="name">Banks</span>
            </button>
          </li>
          <li>
            <button class="sidebar-list-button" onclick="getCategory('Games')">
              <span class="fa fa-thin fa-gamepad mr-3"></span>
              <span class="name">Games</span>
            </button>
          </li>
          <li>
            <button class="sidebar-list-button" onclick="getCategory('Shopping')">
              <span class="fa fa-thin fa-cart-shopping mr-3"></span>
              <span class="name">Shopping</span>
            </button>
          </li>
        </ul>
        <div id="paimon" class="position-fixed bottom">
          <img src="/resources/banner.png" class="banner">
          <p>Paimon is protecting your vault!</p>
        </div>
        <!-- List Group END-->
      </nav>
      <!-- Sidebar End -->
      <div id="item-list">
        <div id="no-item"></div>
        <ul id="items-ul">
          <% for (let item in vault) {%>
            <li class="items">
              <button class="list-item" id="<%= vault[item].item %>" onclick="getItemDetail(this.id)">
                <div class="item-icon">
                  <img src="/resources/key.png" class="item-icon">
                </div>
                <div class="item-info">
                  <span class="title" name="item-name" value="<%= vault[item].item %>">
                    <h3>
                      <%= vault[item].item %>
                    </h3>
                  </span>
                  <span class="title-username">
                    <h4>
                      <%= vault[item].vault.username %>
                    </h4>
                  </span>
                </div>
              </button>
            </li>
            <% }%>
        </ul>
      </div>
      <div id="item-details">
        <div id="item-bar">
        </div>
      </div>
    </section>
  </div>
  <div id="new-item-button">
    <button type="button" class="fa-solid fa-plus" data-bs-toggle="modal" data-bs-target="#new-item"></button>

  </div>
  <div id="change-pass" class="modal fade" tabindex="-1" aria-labelledby="change-pass-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Change Password</h5>
        </div>
        < class="modal-body">
          <form action="/api/change-pass" class="form-card" method="POST">
            <div class="md-form mb-3">
              <input type="password" id="current-pass" class="form-control validate" name="password">
              <label data-error="wrong" data-success="right" for="current-pass">Current Password</label>
            </div>
            <div class="md-form mb-3">
              <input type="password" id="new-pass" class="form-control validate" name="newPassword">
              <label data-error="wrong" data-success="right" for="form2">New Password</label>
            </div>
            <div class="md-form mb-3">
              <input type="password" id="new-pass-repat" class="form-control validate">
              <label data-error="wrong" data-success="right" for="form2">Repeat New Password</label>
            </div>
            <div class="modal-footer justify-content-center">
              <a type="button" class="btn btn-outline-warning waves-effect" type="submit">Change Password <i
                  class="fas fa-paper-plane-o ml-1"></i></a>
            </div>
          </form>
      </div>
    </div>
  </div>
  <!-- Create New Item Modal -->
  <div id="new-item" class="modal fade" tabindex="-1" aria-labelledby="new-item-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Create new item</h5>
        </div>
        <div class="modal-body">
          <div class="row">

            <form action="/api/new-item" class="form-card" novalidate method="POST">
              <div class="col-md-12">
                <input type="text" id="inputItemName" class="form-control" name="itemName" placeholder="item name">
                <div class="invalid-feedback">item name field cannot be blank!</div>
                <div class="col-sm-8">
                </div>
              </div>
              <div class="col-md-12">
                <input type="text" name="username" class="form-control" id="inputUsername" placeholder="username"
                  autocomplete="off" required>
                <div class="invalid-feedback">Username field cannot be blank!</div>
              </div>
              <div class="input-group col-md-12">
                <input type="password" class="form-control" name="password" id="inputPassword" placeholder="password"
                  autocomplete="off" required>
                <button class="pass-gen fa fa-key" type="button"></button>
                <div class="invalid-feedback">Password field cannot be blank!</div>
              </div>
              <div class="col-md-12">
                <div class="pw-container">
                  <div class="pw-body">
                    <label for="length">Password Length</label>
                    <input id="length" value="8" type="number" min="7" max="18" name="passwordLength">
                  </div>
                  <div class="row">
                    <label for="upper">Uppercase</label>
                    <input id="upper" class="" type="checkbox" value="uppercase"
                      name="passwordCharacters">
                    <label for="lower">Lowercase</label>
                    <input id="lower" class="" type="checkbox" value="lowercase"
                      name="passwordCharacters">
                  </div>
                  <div class="row">
                    <label for="number">Numbers </label>
                    <input id="number" class="" type="checkbox" value="numbers"
                      name="passwordCharacters">
                    <label for="characters">Symbols</label>
                    <input id="characters" class="" type="checkbox" value="symbols"
                      name="passwordCharacters">
                    <div class="row">
                      <button type="button" class="btn btn-outline-primary" onclick="passwordGen()">Generate</button>
                    </div>

                  </div>

                </div>
              </div>

              <div class="col-md-12">
                <input type="text" name="website" id="inputWebsite" class="form-control" placeholder="website"
                  autocomplete="off" required>
                <div class="invalid-feedback">Website field cannot be blank!</div>
              </div>
              <div class="col-md-12">
                <select class="form-control" id="inputCategory" name="category" required>
                  <option selected disabled value="">select category...</option>
                  <option>Banks</option>
                  <option>Entertainment</option>
                  <option>Games</option>
                  <option>Social</option>
                  <option>Shopping</option>
                  <option>Work</option>
                </select>
              </div>
              <div class="edit-bar modal-footer">
                <button class="save-item col-md-12 btn btn-success" type="submit">Save</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--Modal: modalConfirmDelete-->
  <div class="modal fade" id="modalConfirmDelete" tabindex="-1" role="dialog" aria-labelledby="deleteItemMod"
    aria-hidden="true">
    <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
      <!--Content-->
      <div class="modal-content text-center">
        <!--Header-->
        <div class="modal-header d-flex justify-content-center">
          <p class="heading">Are you sure?</p>
        </div>

        <!--Body-->
        <div class="modal-body">

          <i class="fas fa-times fa-4x animated rotateIn"></i>

        </div>

        <!--Footer-->
        <div class="modal-footer flex-center">
          <a href="#" class="btn btn-outline-danger" id="delete-item">Yes</a>
          <a type="button" class="btn  btn-danger waves-effect" data-bs-dismiss="modal">No</a>
        </div>
      </div>
      <!--/.Content-->
    </div>
  </div>
  <!--Modal: modalConfirmDelete-->

  <div class="modal fade" id="modalEditItem" tabindex="-1" role="dialog" aria-labelledby="editItemMod"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Edit item</h5>
        </div>
        <div class="modal-body">
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
    crossorigin="anonymous"></script>
</body>

</html>
